In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('teksttall3.csv', sep = ';')
df

                                                Kol1
0  tekst 240v tekst tall 240 v 50,2 Hz abc ABC 50...
1                             tekst 240 v tekst 240v
2                         tekst 50,1 Hz tekst 49,8Hz
3                   tekst 50,1Mhz tekst tall 49,9 Hz
4                            tekst 50,1 abs abs 40,9

In [3]:
df['Kol2'] = df['Kol1'].str.lower().str.replace(',', '.')

In [4]:
df

,Kol1,Kol2
0,"tekst 240v tekst tall 240 v 50,2 Hz abc ABC 50...",tekst 240v tekst tall 240 v 50.2 hz abc abc 50...
1,tekst 240 v tekst 240v,tekst 240 v tekst 240v
2,"tekst 50,1 Hz tekst 49,8Hz",tekst 50.1 hz tekst 49.8hz
3,"tekst 50,1Mhz tekst tall 49,9 Hz",tekst 50.1mhz tekst tall 49.9 hz
4,"tekst 50,1 abs abs 40,9",tekst 50.1 abs abs 40.9

In [5]:
pattern = r'(\d+(?:.\d+)?)(?:\s*(v|hz|mhz))?'

In [6]:
df['numbers_units'] = df['Kol2'].apply(lambda x: re.findall(pattern, x))

In [7]:
df = df.drop(['Kol1', 'Kol2'], axis=1)
df

                                 numbers_units
0  [(240, v), (240, v), (50.2, hz), (5000, v)]
1                         [(240, v), (240, v)]
2                     [(50.1, hz), (49.8, hz)]
3                    [(50.1, mhz), (49.9, hz)]
4                         [(50.1, ), (40.9, )]

In [8]:
df_new = df['numbers_units'].apply(pd.Series)
df_new.columns = ['A','B','C','D']
df_new

             A           B           C          D
0     (240, v)    (240, v)  (50.2, hz)  (5000, v)
1     (240, v)    (240, v)         NaN        NaN
2   (50.1, hz)  (49.8, hz)         NaN        NaN
3  (50.1, mhz)  (49.9, hz)         NaN        NaN
4     (50.1, )    (40.9, )         NaN        NaN

In [9]:
df_new[['B1','B2']] = df_new['B'].apply(pd.Series)
df_new

             A           B           C          D    B1  B2
0     (240, v)    (240, v)  (50.2, hz)  (5000, v)   240   v
1     (240, v)    (240, v)         NaN        NaN   240   v
2   (50.1, hz)  (49.8, hz)         NaN        NaN  49.8  hz
3  (50.1, mhz)  (49.9, hz)         NaN        NaN  49.9  hz
4     (50.1, )    (40.9, )         NaN        NaN  40.9

In [10]:
df_new[['B1','B2']] = pd.DataFrame(df['B'].tolist(),index=df.index)
df_new

KeyError: 'B'

In [ ]:
df2 = df_new[['A1','A2','B1','B2','C1','C2','D1','D2']] = df_new[['A', 'B', 'C', 'D']].apply(pd.Series)
df2

In [ ]:
df2 = df_new[['A1','A2','B1','B2','C1','C2','D1','D2']] = df_new[['A','B','C','D']].apply(pd.Series)
df2